body {
    font-family: "Times New Roman", Times, serif;
    background-color: #fffdf6;
  }
  
  .container {
    margin-top: 20px;
    background-color: transparent;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .btnDivContainer {
    display: flex;
    align-items: center;
  }
  
  .wrapper {
    margin-top: 60px;
    font-size: 1vmax;    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Gill Sans Extrabold", sans-serif;
    width: 100%;
  }
  .btnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 100%;
    justify-content: space-evenly;
    cursor: pointer;
    margin-left: 30%;
    font-family: "Times New Roman", Times, serif;
  }
  .btn {
    width: 320px;
    height: 80px;
  }
  
  .btn:hover {
    background-color: black;
  }
  
  .btnInfo {
    width: 320px;
    height: 80px;
  }
  .btnInfo:hover {
    background-color: black;
  }
  
  .file-card{
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 3px dashed #cbd5e0;
      background-color: #edf2f7;
      min-width: 450px;
      min-height: 230px;
      margin-bottom: 60px;
  }
  
  .file-inputs{
    position: relative;
    margin-bottom: 1.5em;
  }
  
  input{
    position: relative;
    text-align: right;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 46px;
    max-width: 450px;
  }
  
  button {
    position: absolute;
    top: 0px;
    width: 320px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #f55e30;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: 0.5s;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.5);
  }
  
  button:hover{
    background-color: black;
    color: #fff;
  }
  
  .footer{
    margin-top: 130px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    height: 50px;
    background-color: #d7d7d5;
    border-radius: 5px;
    color: grey;
  }